<!DOCTYPE html>
<html lang="en">
<body>
  <div>
    {{.UserData.name}}
    <a href="/logout">sign out</a>
  </div>
  <ul id="msgs"></ul>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
    $(function() {
      var msgs = $("#msgs");
      if (!window["WebSocket"]) {
        msgs.html("WebSocket is unsupported.");
      } else {
        var socket = new WebSocket("ws://{{.Host}}/clock");
        socket.onclose = function() {
          msgs.append("<div>connection was closed.</div>");
        };
        socket.onmessage = function(e) {
          var msg = eval("(" + e.data + ")")
          msgs.html(new Date(msg.When));
        }
      }
    })
  </script>
</body>
</html>
