<!DOCTYPE html>
<html lang="en">

<head>

  <title>GitHub Search</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/styles/octicons/octicons.css">

  <!--<link rel="stylesheet" href="/styles/login.css">-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div class="container">

  <!--header-->
  <div class="row" style="padding-top:44px">
    <div class="col-xs-12 text-center" style="padding-bottom:32px">
      <span class="mega-octicon octicon-octoface"></span>
      <!-- <span class="mega-octicon octicon-mark-github" style="font-size:64px"></span>
      <span class="mega-octicon octicon-star" style="font-size:64px; padding-left:24px; padding-right:24px"></span>
      <span class="mega-octicon octicon-search" style="font-size:64px"></span> -->
    </div>
  </div>


  <!-- <p>Select service to login</p> -->
  <h2 class="col-xs-12 text-center text-success" style="margin-bottom:0">Full-Text Search GitHub (missing function on GitHub)</h2>
  <h5 class="col-xs-12 text-center text-success" style="margin-top:0">Target: Readme, description, homepage and URL of your starred repository</h5>
  <div class="row" style="padding:96px 0 16px 0">
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
      <h4 class="text-center">GitHub site only supplies the function to search repo-descripton and also only exact pharse match. This site suppport both types. Type <em>"A B"</em> for pharse <em>A B</em> and type <em>A B</em> for sqeunce not important case.</h4>
      <!-- <h6>Starred Search requests no permissions other than read access to public data.</h6>
      <h6>Authorization is used to identify your account and avoid rate-limited anonymous GitHub API requests.</h6> -->
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12 text-center">
      <button class="btn btn-success" onclick="window.location.href = '/auth/login/github'">Authorize</button>

    </div>
  </div>

  </div>
</body>
</html>
