// .def-list {}

.def-list__term {
  font-weight: 600;
}

.def-list__def {
  font-weight: 400;
}

.def-list__term--horizontal {
  clear: left;
  float: left;
  margin: 0 0 4px;
  width: 200px;
}

.def-list__def--horizontal {
  margin: 0 0 4px 200px; // matches width of horizontal term

  &::after {
    clear: both;
    content: '';
    display: block;
  }
}
