.text--display-4 {
  font-size: 112px;
  font-weight: 300;
  letter-spacing: -5px;
  line-height: 128px;
}

.text--display-3 {
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
}

.text--display-2 {
  font-size: 45px;
  font-weight: 400;
  line-height: 64px;
}

.text--display-1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 52px;
}

.text--display-1-spacing {
  margin: 26px 0;
}

.text--display-1-half-spacing { margin: 13px 0; }

.text--headline {
  font-size: 24px;
  font-weight: 400;
  line-height: 44px;
}

.text--title {
  font-size: 20px;
  font-weight: 600;
  line-height: 44px;
}

.text--subhead {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.text--body {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.text--body-spacing {
  margin-bottom: 25px;
}

.text--caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 32px;
}

.text--menu {
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
}

.text--button {
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
}

.text--list-title {
  color: rgba(0, 0, 0, .5);
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.text--list-value {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  line-height: 24px;
}
