.text--light { color: #fff; }

.text--centered { text-align: center; }

.text--thin { font-weight: 300; }
.text--thick { font-weight: 600; }

.text--figure {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}

.text--form-error {
  color: #F44336;
  font-size: 12px;
  font-weight: 400;
}
